.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.mat-mdc-card-header
{
    padding: 16px !important;
}

form {
    display: flex;
    flex-direction: column;
}

.auth-card {
  width: 372px;
}

.example-card-footer {
  padding: 16px;
}

.error {
    color: #d32f2f;
    text-align: center;
    margin-top: 10px;
}

.register-link {
    color: #667eea;
    cursor: pointer;
}