 .add-todo-section {
     padding: 12px;
 }

 .title {
     padding-left: 24px;
     color: #5703a4;
 }

 mat-dialog-content {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: normal;
 }